# ROS 构建和安装目录
/build/
/install/
/log/
/devel/

# Python 缓存
__pycache__/
*.pyc

# VS Code 配置文件（如果你不想让个人的编辑器配置上传）
.vscode/

# 编译数据库（如果使用了 clangd 等工具）
compile_commands.json

# 系统隐藏文件
.DS_Store
robotmini_ws.code-workspace