<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- <xacro:property name="mesh_dir" value="package://robmini_description/meshes" /> -->
  <xacro:property name="mesh_dir" value="file://$(find robmini_description)/meshes" />
  <xacro:property
    name="use_planar_drive"
    value="${str(use_gazebo).lower() in ['true', '1', 'yes', 'on'] and sim_drive_mode == 'planar'}" />
  <xacro:property name="planar_wheel_collision_radius" value="0.04" />
  <xacro:property name="wheel_ground_mu" value="${0.02 if use_planar_drive else 1.5}" />
  <xacro:property name="wheel_ground_mu2" value="${0.02 if use_planar_drive else 1.2}" />
  <xacro:property name="wheel_ground_slip" value="${1.0 if use_planar_drive else 0.0}" />

  <!-- <link name="${tf_prefix}base_footprint" />

        <joint name="base_joint" type="fixed">
            <parent link="${tf_prefix}base_footprint" />
            <child link="${tf_prefix}base_link" />
            <origin xyz="0.0 0.0 0.02" rpy="0 0 0" />
        </joint> -->

  <link
    name="${tf_prefix}base_link">
    <inertial>
      <origin
        xyz="0.00642718102494587 0.000182152311766697 0.0006273474275044"
        rpy="0 0 0" />
      <mass
        value="0.566394170985771" />
      <inertia
        ixx="0.00105406060554873"
        ixy="1.36846218301613E-05"
        ixz="-7.10562527190778E-06"
        iyy="0.00239067878191228"
        iyz="4.45402070926371E-07"
        izz="0.00328565602241862" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_dir}/base_link.STL" />
        <!-- <mesh
          filename="file:///home/ksnc/robotmini_ws/src/robmini_description/meshes/base_link.STL" /> -->
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_dir}/base_link.STL" />
        <!-- <mesh
          filename="file:///home/ksnc/robotmini_ws/src/robmini_description/meshes/base_link.STL" /> -->
      </geometry>
    </collision>
  </link>
  <link
    name="${tf_prefix}front_left_wheel_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.63948" />
      <inertia
        ixx="0.0025437"
        ixy="2.7123E-05"
        ixz="-0.00010496"
        iyy="0.0053311"
        iyz="1.0534E-05"
        izz="0.006151" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_dir}/left_front_wheel_link.STL" />
        <!-- <mesh
          filename="file:///home/ksnc/robotmini_ws/src/robmini_description/meshes/left_front_wheel_link.STL" /> -->
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <xacro:if value="${use_planar_drive}">
          <sphere radius="${planar_wheel_collision_radius}" />
        </xacro:if>
        <xacro:unless value="${use_planar_drive}">
          <mesh filename="${mesh_dir}/left_front_wheel_link.STL" />
          <!-- <mesh
            filename="file:///home/ksnc/robotmini_ws/src/robmini_description/meshes/left_front_wheel_link.STL" /> -->
        </xacro:unless>
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_wheel_joint"
    type="continuous">
    <origin
      xyz="0.098716 0.107 -0.037"
      rpy="0 0 0" />
    <parent
      link="${tf_prefix}base_link" />
    <child
      link="${tf_prefix}front_left_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="${tf_prefix}rear_left_wheel_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.63948" />
      <inertia
        ixx="0.0025437"
        ixy="2.7123E-05"
        ixz="-0.00010496"
        iyy="0.0053311"
        iyz="1.0534E-05"
        izz="0.006151" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_dir}/left_back_wheel_link.STL" />
        <!-- <mesh
          filename="file:///home/ksnc/robotmini_ws/src/robmini_description/meshes/left_back_wheel_link.STL" /> -->
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <xacro:if value="${use_planar_drive}">
          <sphere radius="${planar_wheel_collision_radius}" />
        </xacro:if>
        <xacro:unless value="${use_planar_drive}">
          <mesh filename="${mesh_dir}/left_back_wheel_link.STL" />
          <!-- <mesh
            filename="file:///home/ksnc/robotmini_ws/src/robmini_description/meshes/left_back_wheel_link.STL" /> -->
        </xacro:unless>
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_left_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.086284 0.107 -0.037"
      rpy="0 0 0" />
    <parent
      link="${tf_prefix}base_link" />
    <child
      link="${tf_prefix}rear_left_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="${tf_prefix}rear_right_wheel_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.63948" />
      <inertia
        ixx="0.0025437"
        ixy="2.7123E-05"
        ixz="-0.00010496"
        iyy="0.0053311"
        iyz="1.0534E-05"
        izz="0.006151" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_dir}/right_back_wheel_link.STL" />
        <!-- <mesh
          filename="file:///home/ksnc/robotmini_ws/src/robmini_description/meshes/right_back_wheel_link.STL" /> -->
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <xacro:if value="${use_planar_drive}">
          <sphere radius="${planar_wheel_collision_radius}" />
        </xacro:if>
        <xacro:unless value="${use_planar_drive}">
          <mesh filename="${mesh_dir}/right_back_wheel_link.STL" />
          <!-- <mesh
            filename="file:///home/ksnc/robotmini_ws/src/robmini_description/meshes/right_back_wheel_link.STL" /> -->
        </xacro:unless>
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_right_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.086284 -0.107 -0.037"
      rpy="0 0 0" />
    <parent
      link="${tf_prefix}base_link" />
    <child
      link="${tf_prefix}rear_right_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="${tf_prefix}front_right_wheel_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.63948" />
      <inertia
        ixx="0.0025437"
        ixy="2.7123E-05"
        ixz="-0.00010496"
        iyy="0.0053311"
        iyz="1.0534E-05"
        izz="0.006151" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_dir}/right_front_wheel_link.STL" />
        <!-- <mesh
          filename="file:///home/ksnc/robotmini_ws/src/robmini_description/meshes/right_front_wheel_link.STL" /> -->
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <xacro:if value="${use_planar_drive}">
          <sphere radius="${planar_wheel_collision_radius}" />
        </xacro:if>
        <xacro:unless value="${use_planar_drive}">
          <mesh filename="${mesh_dir}/right_front_wheel_link.STL" />
          <!-- <mesh
            filename="file:///home/ksnc/robotmini_ws/src/robmini_description/meshes/right_front_wheel_link.STL" /> -->
        </xacro:unless>
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_wheel_joint"
    type="continuous">
    <origin
      xyz="0.098716 -0.107 -0.037"
      rpy="0 0 0" />
    <parent
      link="${tf_prefix}base_link" />
    <child
      link="${tf_prefix}front_right_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="${tf_prefix}laser">
    <inertial>
      <origin
        xyz="0.01206 -0.00053201 -0.0083649"
        rpy="0 0 0" />
      <mass
        value="0.073085" />
      <inertia
        ixx="1.9581E-05"
        ixy="-1.04E-07"
        ixz="-4.284E-07"
        iyy="2.4125E-05"
        iyz="9.3841E-09"
        izz="4.1419E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_dir}/lidar_link.STL" />
        <!-- <mesh
          filename="file:///home/ksnc/robotmini_ws/src/robmini_description/meshes/lidar_link.STL" /> -->
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_dir}/lidar_link.STL" />
        <!-- <mesh
          filename="file:///home/ksnc/robotmini_ws/src/robmini_description/meshes/lidar_link.STL" /> -->
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="0.013095 0 0.0811"
      rpy="0 0 0" />
    <parent
      link="${tf_prefix}base_link" />
    <child
      link="${tf_prefix}laser" />
    <axis
      xyz="0 0 0" />
  </joint>



  <link
    name="${tf_prefix}imu_link">
    <inertial>
      <!-- IMU 质量和惯性随便给一个小的，不影响 kinematics，只是占位 -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia
        ixx="1e-6" ixy="0.0"  ixz="0.0"
        iyy="1e-6" iyz="0.0"
        izz="1e-6" />
    </inertial>
    <!-- 视觉上画一个小绿块表示 IMU 位置 -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.02 0.02 0.01" />
      </geometry>
      <material name="imu_green">
        <color rgba="0.0 0.8 0.0 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.02 0.02 0.01" />
      </geometry>
    </collision>
  </link>
  <!-- IMU 固定在 base_link 上，略偏右下角 -->
  <joint name="imu_joint" type="fixed">
    <!-- 这里的 xyz 就是 IMU 在 base_link 下的位置，单位：米 -->
    <origin xyz="-0.02 -0.02 0" rpy="0 0 0" />
    <parent link="${tf_prefix}base_link" />
    <child  link="${tf_prefix}imu_link" />
    <axis xyz="0 0 0" />
  </joint>




  <gazebo reference="${tf_prefix}base_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="${tf_prefix}front_left_wheel_link"> 
    <collision>
        <surface>
        <friction>
            <ode>
            <mu>${wheel_ground_mu}</mu>
            <mu2>${wheel_ground_mu2}</mu2>
            <fdir1>1 -1 0</fdir1>
            <slip1>${wheel_ground_slip}</slip1>
            <slip2>${wheel_ground_slip}</slip2>
            </ode>
        </friction>
        </surface>
    </collision>
  </gazebo>
  <gazebo reference="${tf_prefix}rear_left_wheel_link">
    <collision>
        <surface>
        <friction>
            <ode>
            <mu>${wheel_ground_mu}</mu>
            <mu2>${wheel_ground_mu2}</mu2>
            <fdir1>1 1 0</fdir1>
            <slip1>${wheel_ground_slip}</slip1>
            <slip2>${wheel_ground_slip}</slip2>
            </ode>
        </friction>
        </surface>
    </collision>
  </gazebo>
  <gazebo reference="${tf_prefix}front_right_wheel_link"> 
    <collision>
        <surface>
        <friction>
            <ode>
            <mu>${wheel_ground_mu}</mu>
            <mu2>${wheel_ground_mu2}</mu2>
            <fdir1>1 1 0</fdir1>
            <slip1>${wheel_ground_slip}</slip1>
            <slip2>${wheel_ground_slip}</slip2>
            </ode>
        </friction>
        </surface>
    </collision>
  </gazebo>
  <gazebo reference="${tf_prefix}rear_right_wheel_link">
    <collision>
        <surface>
        <friction>
            <ode>
            <mu>${wheel_ground_mu}</mu>
            <mu2>${wheel_ground_mu2}</mu2>
            <fdir1>1 -1 0</fdir1>
            <slip1>${wheel_ground_slip}</slip1>
            <slip2>${wheel_ground_slip}</slip2>
            </ode>
        </friction>
        </surface>
    </collision>
  </gazebo>

</robot>


