<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robmini">
  <xacro:macro
    name="robmini_ros2_control"
    params="use_mock_bool:='false' use_gazebo_bool:='false' sim_drive_mode:='planar' controller_config:='' ros_namespace:='' frame_prefix:=''">

    <xacro:property
      name="use_gazebo_ros2_control"
      value="${use_gazebo_bool and sim_drive_mode == 'ros2_control'}" />
    <xacro:property
      name="use_gazebo_planar_move"
      value="${use_gazebo_bool and sim_drive_mode == 'planar'}" />

    <!-- 如果 use_gazebo_planar_move 这个变量的值是 False，那就执行下面代码 -->
    <xacro:unless value="${use_gazebo_planar_move}">
    <ros2_control
      name="${'mecanum_gazebo_system' if use_gazebo_ros2_control else ('mecanum_mock_system' if use_mock_bool else 'mecanum_hw_system')}"
      type="system">
      <hardware>
        <plugin>${'gazebo_ros2_control/GazeboSystem' if use_gazebo_ros2_control else ('mock_components/GenericSystem' if use_mock_bool else 'mecanum_hw_interface/MecanumHWSystem')}</plugin>

        <xacro:if value="${use_mock_bool and not use_gazebo_ros2_control}">
          <param name="fake_sensor_commands">true</param>
        </xacro:if>

        <!-- 除非在跑假测试或跑仿真，否则就执行下面代码 -->
        <xacro:unless value="${use_mock_bool or use_gazebo_bool}">
          <param name="device">/dev/ttySTM32</param>
          <param name="baud">115200</param>
        </xacro:unless>
      </hardware>

      <joint name="front_left_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>

      <joint name="front_right_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>

      <joint name="rear_right_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>

      <joint name="rear_left_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
    </ros2_control>
    </xacro:unless>

    <xacro:if value="${use_gazebo_ros2_control}">
    <xacro:property
        name="topic_ns"
        value="${'/' + ros_namespace if ros_namespace != '' else ''}" />

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <ros>
            <namespace>${ros_namespace}</namespace>

            <!-- 把控制器发布的 TF 接到全局 /tf，否则 Nav2 看不到 odom -> base_link -->
            <remapping>${topic_ns}/mecanum_drive_controller/tf_odometry:=/tf</remapping>

            <!-- 把控制器里程计话题接到 Nav2 常用的 /robmini/odom -->
            <remapping>${topic_ns}/mecanum_drive_controller/odometry:=${topic_ns}/odom</remapping>

            <!-- 把 Nav2 输出的 /robmini/cmd_vel 接到 mecanum 控制器输入 -->
            <remapping>${topic_ns}/mecanum_drive_controller/reference_unstamped:=${topic_ns}/cmd_vel</remapping>
        </ros>

        <xacro:if value="${controller_config != ''}">
            <parameters>${controller_config}</parameters>
        </xacro:if>
        </plugin>


    </gazebo>
    </xacro:if>

    <xacro:if value="${use_gazebo_planar_move}">
    <gazebo>
        <plugin filename="libgazebo_ros_planar_move.so" name="gazebo_ros_planar_move">
        <ros>
            <namespace>${ros_namespace}</namespace>
            <remapping>cmd_vel:=cmd_vel</remapping>
            <remapping>odom:=odom</remapping>
            <remapping>tf:=/tf</remapping>
        </ros>

        <update_rate>100</update_rate>
        <publish_rate>50</publish_rate>

        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>

        <odometry_frame>${frame_prefix}odom</odometry_frame>
        <robot_base_frame>${frame_prefix}base_link</robot_base_frame>

        <covariance_x>0.001</covariance_x>
        <covariance_y>0.001</covariance_y>
        <covariance_yaw>0.01</covariance_yaw>
        </plugin>
    </gazebo>
    </xacro:if>
  </xacro:macro>
</robot>
